name: Test CloudFlare S3 API

on:
  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create Test File
        run: echo "hello from github actions" > test.txt

      - name: Upload to R2
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
        run: |
          aws s3 cp test.txt s3://ci-builds/test.txt \
            --endpoint-url ${{ secrets.S3_API }}
